In [1]:
#Imports
import pandas as pd
import numpy as np
import eikon as ek

In [2]:
#App Key Eikon
ek.set_app_key('XXXXXXXXXXXXXXXXXXXXXXXXbd30')

In [9]:
#Imports
import pytz
import time
from datetime import datetime, timezone
 
currenttime_str = time.ctime()
print(currenttime_str)

Fri Nov 22 08:14:50 2024

In [10]:
#Definimos las zonas horarias con las cuales trabajemos 
bogota = pytz.timezone('America/Bogota')
ny=pytz.timezone('America/New_York')

In [11]:
import refinitiv.data as rd
import datetime
from IPython.display import display, clear_output
from refinitiv.data.content import historical_pricing
from refinitiv.data.content.historical_pricing import Intervals
from refinitiv.data.content.historical_pricing import Adjustments
from refinitiv.data.content.historical_pricing import MarketSession
import datetime

In [12]:
rd.open_session()

In [18]:
PFBCOLOM_day=rd.get_history("BIC_p1.CN",interval="daily",start="2018-10-15",end="2024-10-11")
BCOLOM_day=rd.get_history("BIC_p1.CN",interval="daily",start="2018-10-15",end="2024-10-11")

In [20]:
PFBCOLOM_day.tail()

BIC_p1.CN,TRDPRC_1,HIGH_1,LOW_1,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,OFF_CLOSE,NUM_MOVES,TRD_STATUS,VWAP,NAVALUE
Date,,,,,,,,,,,,,
2024-10-07,32680,32960,32580,164873,32600,32680,32760,5393854900,32680,331,1,32715.2105,<NA>
2024-10-08,33100,33300,32540,686702,32600,33000,33100,22608711040,33100,670,1,32923.6132,<NA>
2024-10-09,33500,33640,32700,495692,33100,33500,33540,16554811520,33500,369,1,33397.3748,<NA>
2024-10-10,33600,33640,33380,156279,33380,33560,33600,5247217520,33600,139,1,33575.9604,<NA>
2024-10-11,34200,34200,33560,448821,33560,34000,34200,15237252600,34200,355,1,33949.509,<NA>

In [16]:
PFBCOLOM_day.columns

Index(['TRDPRC_1', 'HIGH_1', 'LOW_1', 'ACVOL_UNS', 'OPEN_PRC', 'BID', 'ASK',
       'TRNOVR_UNS', 'OFF_CLOSE', 'NUM_MOVES', 'TRD_STATUS', 'VWAP',
       'NAVALUE'],
      dtype='object', name='BIC_p1.CN')

In [28]:
PFBCOLOM_day.rename(columns={'OFF_CLOSE':'Close_CIB'})
BCOLOM_day.rename(columns={'OFF_CLOSE':'Close_BCO'})

BIC_p1.CN,TRDPRC_1,HIGH_1,LOW_1,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,Close_BCO,NUM_MOVES,TRD_STATUS,VWAP,NAVALUE
Date,,,,,,,,,,,,,
2018-10-16,31980,31980,30900,434845,31000,31800,31980,13651373580,31980,217,1,31393.6542,<NA>
2018-10-17,31280,31900,31280,484174,31900,31260,31280,15209349280,31280,139,1,31412.9823,<NA>
2018-10-18,30640,31440,30600,803416,31440,30640,30700,24828079020,30640,285,1,30903.1424,<NA>
2018-10-19,30240,30800,30000,219684,30800,30020,30240,6689671840,30240,126,1,30451.3385,<NA>
2018-10-22,30220,30440,30060,210841,30240,30180,30220,6367354800,30220,139,1,30199.7942,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-07,32680,32960,32580,164873,32600,32680,32760,5393854900,32680,331,1,32715.2105,<NA>
2024-10-08,33100,33300,32540,686702,32600,33000,33100,22608711040,33100,670,1,32923.6132,<NA>
2024-10-09,33500,33640,32700,495692,33100,33500,33540,16554811520,33500,369,1,33397.3748,<NA>
2024-10-10,33600,33640,33380,156279,33380,33560,33600,5247217520,33600,139,1,33575.9604,<NA>
2024-10-11,34200,34200,33560,448821,33560,34000,34200,15237252600,34200,355,1,33949.509,<NA>

In [33]:
datos=pd.concat([PFBCOLOM_day.rename(columns={'OFF_CLOSE':'Close_CIB'}),BCOLOM_day.rename(columns={'OFF_CLOSE':'Close_BCO'})], axis=1)

In [34]:
datos.head()

BIC_p1.CN,TRDPRC_1,HIGH_1,LOW_1,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,Close_CIB,NUM_MOVES,...,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,Close_BCO,NUM_MOVES,TRD_STATUS,VWAP,NAVALUE
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-16,31980,31980,30900,434845,31000,31800,31980,13651373580,31980,217,...,434845,31000,31800,31980,13651373580,31980,217,1,31393.6542,<NA>
2018-10-17,31280,31900,31280,484174,31900,31260,31280,15209349280,31280,139,...,484174,31900,31260,31280,15209349280,31280,139,1,31412.9823,<NA>
2018-10-18,30640,31440,30600,803416,31440,30640,30700,24828079020,30640,285,...,803416,31440,30640,30700,24828079020,30640,285,1,30903.1424,<NA>
2018-10-19,30240,30800,30000,219684,30800,30020,30240,6689671840,30240,126,...,219684,30800,30020,30240,6689671840,30240,126,1,30451.3385,<NA>
2018-10-22,30220,30440,30060,210841,30240,30180,30220,6367354800,30220,139,...,210841,30240,30180,30220,6367354800,30220,139,1,30199.7942,<NA>

In [35]:
datos.columns

Index(['TRDPRC_1', 'HIGH_1', 'LOW_1', 'ACVOL_UNS', 'OPEN_PRC', 'BID', 'ASK',
       'TRNOVR_UNS', 'Close_CIB', 'NUM_MOVES', 'TRD_STATUS', 'VWAP', 'NAVALUE',
       'TRDPRC_1', 'HIGH_1', 'LOW_1', 'ACVOL_UNS', 'OPEN_PRC', 'BID', 'ASK',
       'TRNOVR_UNS', 'Close_BCO', 'NUM_MOVES', 'TRD_STATUS', 'VWAP',
       'NAVALUE'],
      dtype='object', name='BIC_p1.CN')

In [37]:
datos.shape

(1466, 26)

In [38]:
datos.to_excel("Datos_bcolom.xlsx")

In [ ]:
rd.close_session()